<%- include('./common/header') %>

    <%- include('./common/css') %>
    <link rel = 'stylesheet'  href = '../../attendance/static/public/top.css' />
  </head>

  <body>
    <%- include('./common/topBar') %>

    <div id = "wrap">
      <%- include('./common/side') %>

      <div id = "content">
        <!-- 現在日時の表示 -->
        <div class = "content-body">
          <h3>タイムカード</h3>
          <div class = "maincontent">
            <div class = "realdateArea">
              <div class = "realdate"></div>
            </div>
            <div class = "realtimeArea">
              <div class = "realtime"></div>
            </div>
          </div>
        </div>

        <!-- 出勤退勤登録ボタン -->
        <div class = "button-area">
          <input type = "button" name = "syukkin" class = "syukkin" value = "出勤">
          <input type = "button" name = "taikin" class = "taikin" value = "退勤">
        </div>

        <!-- 今日の登録内容とか表示するエリア -->
        <div class = "reference-area">
          <div class = "reference-title">
            本日の登録時間と今月の合計残業時間
          </div>

          <table>
            <tr>
              <th>
                出勤時刻
              </th>
              <% if(data[0].出勤時刻) { %>
                <td>
                  <div class = "startTime"><%= data[0].出勤時刻 %></div>
                </td>
              <% } else { %>
              <td>
                <div class = "startTime">未登録</div>
              </td>
              <% } %>
            </tr>
            <tr>
              <th>
                退勤時刻
              </th>
              <% if(data[0].退勤時刻) { %>
                <td>
                  <div class = "endTime"><%= data[0].退勤時刻 %></div>
                </td>
              <% } else { %>
              <td>
                <div class = "endTime">未登録</div>
              </td>
              <% } %>
            </tr>
            <tr>
              <th>
                今日の残業時間
              </th>
              <% if(data[0].残業時間) { %>
              <td>
                <div class = "zangyo"><%= data[0].残業時間 %>分</div>
              </td>
              <% } else { %>
              <td>
                <div class = "zangyo"><%= data[0].残業時間 %></div>
              </td>
              <% } %>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <input type = "hidden" name = "syukkin_time" val = "<%= data[0].出勤時刻 %>">
    <input type = "hidden" name = "taikin_time" val = "<%= data[0].出勤時刻 %>">

    <%- include('./common/scripts') %>
    <script type = "text/javascript" src = '../../attendance/static/protected/common/side.js'></script>
    <script type = "text/javascript" src = '../../attendance/static/protected/main.js'></script>
  </body>
</html>